nvidia-cufft-cu12==11.2.1.3
nvidia-nvjitlink-cu12==12.4.127
torch-scatter==2.1.2
mypy-extensions==1.0.0
smmap==5.0.2
cycler==0.12.1
fastrlock==0.8.3
nvidia-cuda-runtime-cu12==12.4.127
pydantic==2.11.1
wheel==0.45.1
platformdirs==4.3.7
protobuf==5.29.4
docker-pycreds==0.4.0
sympy==1.13.1
pip==25.0.1
pathspec==0.12.1
nvidia-cudnn-cu12==9.1.0.70
wandb==0.19.8
numpy==2.2.3
torchaudio==2.5.1+cu124
scipy==1.15.2
pydantic_core==2.33.0
typing_extensions==4.12.2
tomli==2.2.1
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
fsspec==2025.2.0
cupy-cuda11x==13.4.0
nvidia-cuda-nvrtc-cu12==12.4.127
mpmath==1.3.0
matplotlib==3.10.1
scikit-learn==1.6.1
nvidia-cublas-cu12==12.4.5.8
black==25.1.0
psutil==7.0.0
torchvision==0.20.1+cu124
gitdb==4.0.12
joblib==1.4.2
urllib3==2.3.0
RAMA==0.0.8
sentry-sdk==2.24.1
kiwisolver==1.4.8
pybind11==2.13.6
nvidia-cusparse-cu12==12.3.1.170
nvidia-nccl-cu12==2.21.5
nvidia-cusparselt-cu12==0.6.2
torch==2.5.1+cu124
annotated-types==0.7.0
triton==3.1.0
contourpy==1.3.1
nvidia-nvtx-cu12==12.4.127
setproctitle==1.3.5
GitPython==3.1.44
typing-inspection==0.4.0
packaging==24.2
fonttools==4.56.0
nvidia-cuda-cupti-cu12==12.4.127
networkx==3.4.2
threadpoolctl==3.6.0
filelock==3.17.0
ubuntu-advantage-tools==8001
defer==1.0.6
hyperlink==21.0.0
jsonpatch==1.32
python-dateutil==2.8.1
dbus-python==1.2.18
PyNaCl==1.5.0
monotonic==1.6
more-itertools==8.10.0
sos==4.5.6
oauthlib==3.2.0
click==8.0.3
jsonschema==3.2.0
launchpadlib==1.10.16
PyGObject==3.42.1
pyparsing==2.4.7
xdg==5
olefile==0.46
pyserial==3.5
python-magic==0.4.24
Twisted==22.1.0
ufw==0.36.1
requests==2.25.1
ssh-import-id==5.11
Automat==20.2.0
jsonpointer==2.0
incremental==21.3.0
future==0.18.2
zipp==1.0.0
SecretStorage==3.3.1
blinker==1.4
systemd-python==234
louis==3.20.0
PyJWT==2.3.0
paramiko==2.9.3
pycairo==1.20.1
distro==1.7.0
pycups==2.0.1
lazr.uri==1.0.6
ptyprocess==0.7.0
zope.interface==5.4.0
idna==3.3
usb-creator==0.3.7
certifi==2020.6.20
colorama==0.4.4
setuptools==59.6.0
Pillow==9.0.1
httplib2==0.20.2
pytz==2022.1
cloud-init==24.4
importlib-metadata==4.6.4
urllib3==1.26.5
python-apt==2.4.0+ubuntu4
keyring==23.5.0
lockfile==0.12.2
bcrypt==3.2.0
netifaces==0.11.0
xkit==0.0.0
MarkupSafe==2.0.1
duplicity==0.8.21
pyOpenSSL==21.0.0
language-selector==0.1
jeepney==0.7.1
Brlapi==0.8.3
python-debian==0.1.43+ubuntu1.1
pyxdg==0.27
fasteners==0.14.1
Babel==2.8.0
Jinja2==3.0.3
service-identity==18.1.0
screen-resolution-extra==0.0.0
apturl==0.5.2
lazr.restfulclient==0.14.4
ubuntu-drivers-common==0.0.0
Mako==1.1.3
unattended-upgrades==0.1
PyYAML==5.4.1
Pygments==2.11.2
cupshelpers==1.0
constantly==15.1.0
pyrsistent==0.18.1
pyasn1-modules==0.2.1
attrs==21.2.0
chardet==4.0.0
pexpect==4.8.0
reportlab==3.6.8
distro-info==1.1+ubuntu0.2
configobj==5.0.6
wadllib==1.3.6
pyasn1==0.4.8
six==1.16.0
PyHamcrest==2.0.2
command-not-found==0.3
cryptography==3.4.8
